
*.db_info
Lab4_template_de1soc/template_de1soc/db/rc4.quiproj.2924.rdr.flock
Lab4_template_de1soc/template_de1soc/db/rc4.db_info
Lab4_template_de1soc/template_de1soc/db/rc4.db_info
Lab4_template_de1soc/template_de1soc/rc4.qws
Lab4_template_de1soc/template_de1soc/db/rc4.db_info
